{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-body">

            <form method="POST">
                {% csrf_token %}
                {{ formset.management_form }}

                {% for form in formset %}
                    <div class="form-row align-items-end mb-2">
                        {% for field in form.visible_fields %}
                            <div class="form-group col-md-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="text-danger">{{ field.errors }}</div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}
